<div class="row manage-single-review">
  <div class="span6">
    <h3><%= ad.name %></h3>
		<p>Status: <%= raw ad.status %></p>
		<p>Expires: <%= raw ad.expiration_date %></p>
		<p>Clicks: <%= ad.clicks || 0 %></p>
		<p>Shows: <%= ad.shows || 0 %></p>
		<p>Contact Info</p>
		<p>Owner's Name: <%= "#{ad.user.user_profile.first_name} #{ad.user.user_profile.last_name}" %></p>
		<p>Phone number: <%= ad.user.user_profile.phone_number %></p>
		<p>Address: <%= ad.user.user_profile.address %></p>
		<%= image_tag ad.image.url( ad.ad_type_id.to_sym ) %>
  </div>
  <div class="span2 backendbtns">  
    <a data-toggle="modal" href="#editmodal<%= ad.id %>" class="btn btn-glow btn-success">Edit</a>
    <div class="btn btn-glow btn-success"><%= link_to 'Delete', admin_destroy_path( ad ), :method => :delete, :confirm => 'Are you sure?' %></div>
	<% unless ad.confirmed %>
    <div class="btn btn-glow btn-success"><%= link_to 'Confirm', ad_confirm_path( ad ) %></div>
	<% end %>
    <div class="btn btn-glow btn-success"><%= link_to 'Add one month', ad_renew_path( ad ) %></div>
  </div>
</div>

 <%= render "modals/admin_edit_ad.html.erb", ad: ad %>
