<div class="row manage-single-review">
  <div class="span6">
    <h3><%= feed.name %></h3>
    <p><%= feed.uri %></p>
		<p>Last fetch atempt: <%= raw feed.display_status %></p>
  </div>
  <div class="span2 backendbtns">  
    <a data-toggle="modal" href="#editmodal<%= feed.id %>" class="btn btn-glow btn-success">Edit</a>
    <div class="btn btn-glow btn-success"><%= link_to 'Delete', feed, :method => :delete, :confirm => 'Are you sure?' %></div>
  </div>
</div>

 <%= render "modals/edit_feed.html.erb", feed: feed %>
