<div class="row manage-single-review">
  <div class="span6">
    <h3><%= article.title %></h3>
    <p><%= article.content %></p>
		<p><h5><%= article.article_comments.size %> comments</h5></p>
  </div>
  <div class="span2 backendbtns">  
    <a data-toggle="modal" href="#editmodal<%= article.id %>" class="btn btn-glow btn-success">Edit</a>
    <div class="btn btn-glow btn-success"><%= link_to 'Delete', article, :method => :delete, :confirm => 'Are you sure?' %></div>
  </div>
</div>

 <%= render "modals/edit_article.html.erb", article: article %>
