<div id="article-container">
 <div class="row main-new-image">
	<%= image_tag "dispatches_top.jpg"%>
    </div>
<p id="notice"><%= notice %></p>

<h1><%= @article.title %></h1>

<br />

<p><%=raw @article.content %></p>

<br />
<% if @article.user_id %>
	<span class='label label-success'>CannaPages Exclusive</span>
<% else %>
	<span class='label label-success'><%= link_to "Source", @article.source %></span>
<% end %>

<br />
<hr />

<p><b>Comments</b></p>
<% @article_comments.each do |ac| %>
  <%= render 'article_comments/comment', comment: ac %>
<% end %>

<p><b>Leave a comment</b></p>
<%= gravatar_image_tag(current_user.email) %>
<%= simple_form_for ArticleComment.new do |f| %>
<%= f.input :body, label: "Whats on your mind?", :input_html => { :cols => 100, :rows => 10, style: "width:960px;" } %>
  <%= f.hidden_field :article_id, value: @article.id %>
  <%= f.button :submit %>
<% end %>
</div>
