<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p>
  <b>Content:</b>
  <%= @article.content %>
</p>

<p><b>Comments</b></p>
<% @article_comments.each do |ac| %>
  <%= render 'article_comments/comment', comment: ac %>
<% end %>

<p><b>Leave a comment</b></p>
<%= gravatar_image_tag(current_user.email) %>
<%= simple_form_for ArticleComment.new do |f| %>
  <%= f.input :body, label: "Whats on your mind?" %>
  <%= f.hidden_field :article_id, value: @article.id %>
  <%= f.button :submit %>
<% end %>
