<div class="listingbox row">
  <div class="span8">
    <div class="row">
	    <div class="span2" id="listinglocation"><h5><%= dispensary.city_state_zip %></h5></div>
	    <div class="span1 offset5" id="listdistance"><h5><%= dispensary.distance %> miles</h5></div>
    </div>
    <div class="row">
        <h1 class="listingname"><%= dispensary.short_name %></h1>
    </div>
   <% if dispensary.average_rating %>
    <div class="row">
          <%= render "shared/five_star", on: dispensary.average_rating, dispensary: dispensary %>
          <%= render "icons", dispensary: dispensary %>
    </div>  
  <% end %>
  <div class="row">
	<% unless dispensary.average_rating %>
	      <%= render "icons", dispensary: dispensary %>
	<% end %>
  </div>
</div>
</div>

