<div class="listing-index row <%= blue_class ? "light-blue" : nil %>">
	<%= link_to( image_tag( dispensary.photo.url(:small), class: "photo" ),  dispensary, class: "listing-index-link") %>
	<div class="info-left">
		<%= image_tag "/images/icons/reglistingbug.png" %>
		<% name = ( dispensary.name.size > 30 ) ? dispensary.name[0..29] + "..." : dispensary.name %>
		<h5><%= link_to ("#{index}. #{name}"), dispensary %></h5>
		<p>Category: <%= dispensary.business_type %></p>
		<p><%= dispensary.distance %> miles from <%= params[:last_location] %></p>
		<div class="listing-index-icons">
			<%= link_to( image_tag( "menuicons-01.png" ), critiques_for_listing_path( dispensary )) unless dispensary.critiques.empty? %>
		</div>
	</div>
	<div class="info-right">
		<%= render "rating", dispensary: dispensary %>
		<p><%= dispensary.street_address %></p>
		<p><%= "#{dispensary.city}, #{dispensary.state} #{dispensary.zip_code}" %>
	</div>
			<% if dispensary.dispensary_comments.any? %>
			<p class="listing-index-comment">
				<% last_comment = dispensary.dispensary_comments.last %>
				<%= gravatar_image_tag last_comment.user.email, class: "avatar" %>
				<span class="inner-comment"><%= last_comment.body %></span>
			</p>
			<% end %>
</div>

