    <div class="span3 listingicons">
			    <%= image_tag "menuicons-01.png" %>
			    <%= image_tag "menuicons-02.png" %>
			    <%= image_tag "menuicons-03.png" %>
			    <%= image_tag "menuicons-04.png" %> 
	    </div>
	    <button class="span2 btn btn-large btn-success listbtn">
	    <%= link_to "See Full Listing", dispensary_path( dispensary ) %>
	    </button>
