<div class="row manage-single-review">
  <div class="span6">
    <h3><%= listing.name %></h3>
		<p>Address: <%= listing.full_address %></p>
		<p>Phone: <%= listing.formated_phone_number %></p>
		<p>Page Views <%= listing.clicks %></p>
		<% if listing.featured %>
		<p>Featured Status: <%= raw listing.featured_status %></p>
		<p>Featured Expiration: <%= listing.expiration %></p>
		<p>Featured Search Shows <%= listing.featured_shows %></p>
		<p>Featured Search Page Views <%= listing.featured_clicks %></p>
		<% end %>
  </div>
  <div class="span2 backendbtns">  
		<%= link_to "Make Featured", set_featured_dispensary_path( listing ), {class: "btn btn-glow btn-success" } unless listing.featured %>
		<%= link_to "Add one month", renew_featured_dispensary_path( listing ), {class: "btn btn-glow btn-success" } if listing.featured %>
    <div class="btn btn-glow btn-success"><%= link_to 'Delete', listing, :method => :delete, :confirm => 'Are you sure?' %></div>
  </div>
</div>
