<div class="row">
	<div class="span8">
		<%= render "shared/banner" %>
	</div>
	<div class="span4">
		<%= render "shared/flash_vid", url: "/media/roor-giveaway.swf" %>
	</div>
</div>

<div class="row">  
	<div id="search-results-container" class="span8">
		<% unless @featured.nil? %>
			<% @featured.each do |f| %>
				<%= render( "dispensaries/featured", dispensary: f ) %>
			<% end %>
		<% end %>
		<% @dispensaries.each do |d| %>
			<%= render "dispensaries/dispensary", dispensary: d %>
		<% end %>
	</div>
	<div class="span4">
		<% @ads.each do |ad| %>
			<div class="home-add-right"><%= link_to( image_tag( ad.image(:side) ), ad_path(ad) ) %></div>
		<% end %>
	</div>
</div>

<%= paginate @dispensaries, :params => { controller: 'dispensaries', action: 'search' } %>
