<div class="row">
	<div class="span2">
		<div class="cbnewstopicon"><%= image_tag "cannaenginetitle-02.png" %></div>
	</div>
	<div class="span7">
		<div class="cbenginetext"><%= image_tag "cannaenginetitle-01.png" %></div>
	</div>
</div>

<div class="row">  
  <div class="span8">
    <% unless @featured.nil? %>
      <%= render( "dispensaries/featured", dispensary: @featured ) %>
    <% end %>
    <% unless @featured.nil? %>
      <%= render( "dispensaries/featured", dispensary: @first_sub_featured ) %>
    <% end %>
    <% @dispensaries.each do |d| %>
            <%= render "dispensaries/dispensary", dispensary: d %>
    <% end %>
  </div>
</div>

</div>
