
<% if params[:search_term].nil? and params[:search_from].nil? and (params[:radius] == 10) and (params[:category] == :all) %>
<div class="row">
	<div class="span8">
		<%= render "shared/banner" %>
	</div>
	<div class="span4">
		<%= render "shared/flash_vid", url: "/media/roor-giveaway.swf" %>
	</div>
</div>
<% end %>

<div class="row">  
	<div id="search-results-container" class="span8">
		<% unless @featured.nil? %>
			<%= render( "dispensaries/featured", dispensary: @featured.first, blue_class: nil, featured: true ) %>
		<% end %>
		<% blue_class = false %>
		<% index = 1 %>
		<% @dispensaries.each do |d| %>
			<%= render "dispensaries/dispensary", dispensary: d, blue_class: blue_class, index: index %>
			<% blue_class = ( blue_class ? false : true ) %>
			<% index += 1 %>
		<% end %>
	</div>
	<div class="span4">
		<div class="home-add-right"><%= link_to( image_tag( @ads.first.image(:side), class: "side-ad" ), ad_path(@ads.first) ) %></div>
		<% if @featured.size > 1 %>
			<%= render "dispensaries/side", f: @featured.all[1] %>
		<% end %>
		<% if @bigAd %>
			<div class="home-add-right"><%= link_to( image_tag( @bigAd.image(:bside), class: "side-ad" ), ad_path(@bigAd) ) %></div>
		<% end %>
		<% if @featured.size > 2 %>
			<%= render "dispensaries/side", f: @featured.all[2] %>
		<% end %>
		<div class="home-add-right"><%= link_to( image_tag( @ads.last.image(:side), class: "side-ad" ), ad_path(@ads.last) ) %></div>
	</div>
</div>

<%= paginate @dispensaries, :params => { controller: 'dispensaries', action: 'search' } %>
