<%= render "icons_for_show", dispensary: @dispensary %>

<div id="single-dispensary" class="row">
    <div class="row" id="listing-show-top">
			<div class="span4">
				<%= image_tag @dispensary.photo.url(:large), class: "main-image" %>
			</div>
			<div class="span4 listing-show-basic-info">
				<ul>
					<li><h3><%= @dispensary.name %></h3></li>
					<li><%= @dispensary.street_address %>
					<li><%= "#{@dispensary.city}, #{@dispensary.state} #{@dispensary.zip_code}" %>
					<li><%= @dispensary.formated_phone_number %>
					<%= render "shared/five_star_for_show", on: @dispensary.average_rating, dispensary: @dispensary %>
					<li class="listing-show-links-header"><span><%= raw google_map_in_new_tap( @dispensary.full_address, "Get Directions" ) %></span> - <span><a data-toggle="modal" href="#<%= (!@current_user.user_name == "anonymous") ? "modalcreate" : "must_be_logged_in" %>">Rate Business</a></span></li>
				</ul>
			</div>
			<div class="span4">
				<%= image_tag "creamocrop.png" %>
			</div>
		</div>
		<div class="row" id="listing-show-bottom">
			
			<div class="span2">
				<ul class="listing-show-side-links">
					<li class="canna-wisdom">CannaWisdom</li>
					<li><%= raw google_map_in_new_tap( @dispensary.full_address, "Map" ) %></li>
					<% unless @current_user.user_name == "anonymous" %>
						<li><a data-toggle="modal" href="#createmodal">Rate</a></li>
						<li><a data-toggle="modal" href="#createmodalcomment">Comment</a></li>
					<% else %>
						<li><a data-toggle="modal" href="#must_be_logged_in">Rate</a></li>
						<li><a data-toggle="modal" href="#must_be_logged_in">Comment</a></li>
					<% end %>
				</ul>
				
				<h4>Business Hours</h4>
				<ul class="listing-show-hours">
					<% hours = @dispensary.hours_of_operation %>
					<li class="light-blue">Monday <%= "#{hours.attr_as_formated_string( "mo_start" )} - #{hours.attr_as_formated_string( "mo_end" )}" %> </li>
					<li>Tuesday <%= "#{hours.attr_as_formated_string( "tu_start" )} - #{hours.attr_as_formated_string( "tu_end" )}" %> </li>
					<li class="light-blue">Wednesday <%= "#{hours.attr_as_formated_string( "we_start" )} - #{hours.attr_as_formated_string( "we_end" )}" %> </li>
					<li>Thursday <%= "#{hours.attr_as_formated_string( "th_start" )} - #{hours.attr_as_formated_string( "th_end" )}" %> </li>
					<li class="light-blue">Friday <%= "#{hours.attr_as_formated_string( "fr_start" )} - #{hours.attr_as_formated_string( "fr_end" )}" %> </li>
					<li>Saturday <%= "#{hours.attr_as_formated_string( "sa_start" )} - #{hours.attr_as_formated_string( "sa_end" )}" %> </li>
					<li class="light-blue">Sunday <%= "#{hours.attr_as_formated_string( "su_start" )} - #{hours.attr_as_formated_string( "su_end" )}" %> </li>
				</ul>
			</div>
			
			<div class="span6">

				<div class="row listing-show-info-box-row">
					<div class="span3">
						<div class="listing-show-info-box">
							<p>
								<h4 class="green">About <%= @dispensary.name %>:</h4>
								<%= @dispensary.about %>
							</p>
						</div>
					</div>
					<div class="span3">
						<div class="listing-show-info-box">
							</p>
								<h4 class="green">First Time Patients:</h4>
								<%= CannaWisdom.first_time_patiants( @dispensary ) %>
							</p>
						</div>
					</div>
				</div>

				<% if @dispensary.deals? %>
				<div class="row listing-show-info-box-row">
					<div class="span3">
						<div class="listing-show-info-box">
							</p>
								<h4 class="red"><%= Date.today.strftime( "%A" ).upcase %> SPECIAL!</h4>
								<%= @dispensary.daily %>
							</p>
						</div>
					</div>
					<div class="span3">
						<div class="listing-show-info-box">
							</p>
								<h4 class="red">WEEKLY SPECIAL!</h4>
								<%= @dispensary.weekly %>
							</p>
						</div>
					</div>
				</div>
				<% end %>

				<% comments =  @dispensary.dispensary_comments %>
				<% unless comments.empty? %>
				<div class="row listing-show-info-box-row">
					<div class="span6">
						<% comments.each do |comment| %>
						<% user = comment.user %>
						<div class="listing-show-info-box comment">
							<p class="listing-comment">
								<%= gravatar_image_tag user.email %>
								<%= comment.body %>
							</p>
						</div>
						<% end %>
					</div>
				</div>
				<% end %>
			
			<% unless @current_user.user_name == "anonymous" %>
			<div class="row listing-show-info-box-row">
				<div class="span6 listing-leave-comment">
					<h4>Leave a comment as <%= @current_user.user_name %></h4>
					<%= simple_form_for DispensaryComment.new do |f| %>
					<%= f.input :body, label: false, :input_html => { :cols => 15, :rows => 3, style: "width:960px;" } %>
						<%= f.hidden_field :dispensary_id, value: @dispensary.id %>
						<%= f.button :submit, "Submit" %>
					<% end %>
				</div>
			</div>
			<% else %>
			<div class="row listing-show-info-box-row">
				<div class="span6 listing-leave-comment">
				<p>You are not logged in right now. Make an account to rate and comment on dispensaries and enjoy many soon to come services</p>
				</div>
			</div>
			<% end %>


			</div>

				
			<div class="span4 listing-show-ads">
				<% @ads.each do |ad| %>	
				<div class="home-add-right"><%= link_to( image_tag( ad.image(:side) ), ad_path(ad) ) %></div>
				<% end %>
			</div>

		</div>
</div>
<%= render "modals/no_live_menu"%>
<%= render "modals/create_user_dispensary_review", dispensary: @dispensary %>
<%= render "modals/create_dispensary_comment", dispensary: @dispensary %>
<%= render "modals/must_be_logged_in" %>
