<%= simple_form_for review do |f| %>
  <%= f.input :bud_tenders, :collection => 1..10 %>
  <%= f.input :selection, :collection => 1..10 %>
  <%= f.input :atmosphere, :collection => 1..10 %>
  <%= f.hidden_field :dispensary_id, value: dispensary.id %>
    <%= f.button :submit, class: "btn-success" %>
    <a href="#" class="btn" data-dismiss="modal">Close</a>
<% end %>
