<div class="row manage-single-review">
  <div class="span6">
    <h3>Strain review for <%= strain.name %></h3>
    <ul>
      <li>Couch Lock: <%= review.couch_lock %></li>
      <li>Creativity: <%= review.creativity %></li>
    </ul>
  </div>
  <div class="span2 backendbtns">
    <a data-toggle="modal" href="#editmodal<%= review.id %>" class="btn btn-glow btn-success">Edit</a>
    <div class="btn btn-glow btn-success"><%= link_to 'Delete', review, :method => :delete %></div>
  </div>
</div>

<%= render "modals/edit_strain_review.html.erb", review: review %>
