<div class="row">
    <div class="span3" id="backendlogomaster"><%= image_tag "masterbackend-01.png"%></div>
    <!--
      <div class="span3 offset4" id="backend-search">
        <form class="navbar-search pull-left">
	        <input type="text" class="search-query" placeholder="Search Reviews and Comments">
        </form>
      </div>
  -->
</div>
  <div class="row">
    <div class="span2">
      <ul class="nav nav-pills nav-stacked" id="navalign">
        <li class="active">
          <%= link_to "Home", root_path %>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle"
             data-toggle="dropdown"
             href="#">
              Your Account
              <b class="caret"></b>
            </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Profile", user_profile_path( current_user ) %></li>
          </ul>
        </li>
            <li class="dropdown">
          <a class="dropdown-toggle"
             data-toggle="dropdown"
             href="">
              Articles
              <b class="caret"></b>
            </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Articles", user_articles_path( current_user ) %></li>
            <li><%= link_to "Critiques", user_critiques_path( current_user ) %></li>
            <li><%= link_to "News Comments", user_article_comments_path( current_user ) %></li>
            <li><%= link_to "Volumes", manage_volumes_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Strains<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/cadets/strain_reviews">Reviews</a></li>
            <li><a href="/cadets/strain_wikis">Wiki Proposals</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dispensaries<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Reviews", user_user_dispensary_reviews_path( current_user ) %></li>
            <li><%= link_to "Comments", user_dispensary_comments_path( current_user ) %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">My Listings<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to "manage", user_dispensaries_path( current_user ) %></li>
          </ul>
        </li>
        <li class="">
          <%= link_to "The Path", "#the-path", "data-toggle" => "modal" %>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Daily Specials<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Create Daily Special</a></li>
            <li><a href="#">Manage Daily Special</a></li>
          </ul>
        </li>
      </ul>
    </div>
