<% if current_user? %>
	<% backend_link = link_to( "Application Interface" , user_profile_path( current_user )) %>
<% else %>
	<% backend_link = link_to( "Application Interface", "#create_user_modal", 
														"data-toggle" => :modal ) %>
<% end %>

<div class="footerfill" id="footer">
	<div class="footer-cat-background">
	<div />
	<div id="table-wrap">
		<div class="social-media-links">
			<%= link_to( image_tag( "fb-icon-footer.png" ), "https://www.facebook.com/cannapages.colorado" ) %>
			<%= link_to( image_tag( "twit-icon-footer.png" ), "https://twitter.com/Cannapages" ) %>
		</div>
	<table>
		<tr class="header">
			<td>ABOUT</td>
			<td>SITE DIRECTORY</td>
			<td>CANNAPAGES FAMILY</td>
			<td>IMPORTANT LINKS</td>
			<td>SOCIAL MEDIA</td>
		</tr>
		<tr>
			<td>About Cannapages</td>
			<td><%= link_to "Listings Search Engine", dispensary_search_path %></td>
			<td><%= link_to "ADILAS/CanaMerchant", "https://www.adilas.biz/" %></td>
			<td>Business Resources</td>
			<td></td>
		</tr>
		<tr>
			<td>Contact Us</td>
			<td><%= link_to "News", current_volume_path %></td>
			<td><%= link_to "Cronic Magazine", "http://cronicmag.com/" %></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>
						<%= link_to( "Advertise with Us", "#create_user_ad_modal", 
																		"data-toggle" => :modal ) %>
			</td>
			<td><%= link_to "Exclusive Editorials", critiques_path %></td>
			<td><%= link_to "First Rank", "http://firstrank.biz/" %></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>
						<%= link_to( "Get A FREE Listing", "#create_user_ad_modal", 
																		"data-toggle" => :modal ) %>
			</td>
			<td><%= backend_link %></td>
			<td><%= link_to "Sigil Development", "http://sigildev.com" %></td>
			<td></td>
			<td></td>
		</tr>
	</table>
	</div>
</div>
