<div id="header">
  
  <div class="row" id="tr-navbar">
  	<div class="span12">
  		<ul class="nav nav-tabs">
  		  <li class="active">
  		    <%= link_to "CannaEngine", root_path %>
  		  </li>
  		  <li><%= link_to "CannaCritiques", critiques_path %></li>
  		  <li><%= link_to "Dispatches", "/volumes/current" %></li>
  		  <li><%= link_to "Strain Wiki", "#strain-wiki", "data-toggle"=> :modal %></li>
  		  <li><%= image_tag "savergirl2.png", id: :savergirl %></li>
  		  <li id="saverspace"><%= link_to "Canna$aver", "#cannasaver", "data-toggle" => :modal %></li>
  		  <li id="cadettab"><%= login_or_backend %></li>
        <!--  
					<% unless loged_in? %>
      		  <li id="cadethelptab"><%= link_to "CannaCadets?", "#cadets-help", "data-toggle" => :modal %></li>
      		  <li id="jointab"><%= link_to "Join", "#create_user_modal", "data-toggle" => :modal %></li>
	        <% end %>
				-->
		  </ul>
    </div>
  </div>

  <div class="row" id="searchbar">
	  <div class="span3 mbwrapperlogo">
      <a id="mblogo1" class="green-button" href="./index.php/"><%= image_tag "cannaloglow-02.png" %></a>
      <a id="mblogo2" href="/"><%= image_tag "cannaloglow-01.png" %></a>
    </div>
	  <div class="span6" id="cannaenginebar">
	    <!--
		    <form class="form-search">
			    <input type="text" class="input-medium search-query" id="cannaenginetext">
			    <button type="submit" class="btn-custom">FIND</button>
		    </form>
		    -->
		  <%= form_tag dispensary_search_path, :method => :put, class: "form-search" do %>
      <%= text_field_tag :search_term, "", :placeholder => "City State Zip or Name", :class => "input-medium search-query", 
                                    :id => "cannaenginetext" %>
      <button type="submit" class="btn-custom">FIND</button>
      <% end %>
	</div>
    <%= render :partial => "shared/business_type_select" unless true %>
  </div>
</div>
