<div id="header">

	<div class="row" id="tipytop">
		<div class="full-width">
			<ul class="top-links">
  			<li>
						<%= link_to "Advertise with us", "#" %>
						<%= link_to "Submit Free Listing", "#" %>
						<%= raw login_or_backend %>
				</li>
			</ul>
		</div>
	</div>

  <div class="row" id="searchbar">
  	<div class="span3">
				<%= image_tag "top-logo.png", class: "main-logo" %>
			<div id="cat-container">
				<% catClass = (params[:controller] == "volumes") ? "hidden" : "" %>
				<p id="cat-text" class="<%= catClass %>">Browse <span id="cat-text-value">All Categories</span></p>
			</div>
		</div>
		<div class="span9">
			
			<%= render @search_partial %>      

			<div class="row" id="search-bottom">
					<div class="span3">
						<%= render "searches/#{params[:controller]}_cat" %>
					</div>
				<div class="span5" id="header-links">

					<% if params[:controller] == "dispensaries" %>
						<%= link_to( image_tag( "/images/icons/engine-top-clicked.png", class: "canna-link-active" ), root_path ) %>
					<% else %>
						<%= link_to( image_tag( "/images/icons/engine-top.png", class: "canna-link" ), root_path ) %>
					<% end %>

					<% if (params[:controller] == "volumes") || (params[:controller] == "articles") || (params[:controller] == "rss") %>
						<%= link_to( image_tag( "/images/icons/news-top-clicked.png", class: "canna-link-active" ), current_volume_path ) %>
					<% else %>
						<%= link_to( image_tag( "/images/icons/news-top.png", class: "canna-link" ), current_volume_path ) %>
					<% end %>

					<% if params[:controller] == "critiques" %>
						<%= link_to( image_tag( "/images/icons/critiques-top-clicked.png", class: "canna-link-active" ), critiques_path ) %>
					<% else %>
						<%= link_to( image_tag( "/images/icons/critiques-top.png", class: "canna-link" ), critiques_path ) %>
					<% end %>

					<% if current_user? %>
						<%= link_to( image_tag( "/images/icons/cadets-top.png", class: "canna-link" ), user_profile_path( current_user )) %>
					<% else %>
						<%= link_to( image_tag( "/images/icons/cadets-top.png", class: "canna-link" ), "#create_user_modal", 
																		"data-toggle" => :modal ) %>
					<% end %>
					
					<%= link_to( image_tag( "/images/icons/wiki-top.png", class: "canna-link" ), "#strain-wiki", "data-toggle"=> :modal ) %>
					<%= link_to( image_tag( "/images/icons/saver-top.png", class: "canna-link" ), "#cannasaver", "data-toggle" => :modal ) %>
				</div>
			</div>

		</div>
	</div>

</div>
