<ul class="dropdown-menu">
			  <li><%= link_to "Home", root_path %></li>
			  <li><%= link_to "Critiques", critiques_path %></li>
			  <li><%= link_to "Dispatches", "#" %></li>
			  <li><%= link_to "Cannasaver", "#" %></li>
			  <li><%= link_to "CannaCadets", login_path %></li>
</ul>
