<div class="row mbwrapper2">
	<div class= header>
		 <div class="subnav">
		    <ul class="nav nav-pills">
		      <li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown">Main site<b class="caret"></b></a>
			<%= render "shared/sub_sub_nav.html.erb" %>
		        </li>
		      <li><%= link_to "Dispatches", news_path %></li>
		      <li><%= link_to "Dispatches Archives", news_archive_path %></li>
		      <li><%= link_to "Articles", articles_index_path %></li>
		      <li><%= link_to "RSS",  rss_path %></li>
		    </ul>
		  </div>
	</div>
	</div>
