  <div class="alert alert-info">
    <a class="close" data-dismiss="alert" href="#">×</a>
		<div class="row">
			<div class="span3">
				<%= image_tag "/images/site/roachy-large.png", class: "roachy-empty-search" %>
			</div>
			<div class="span7">
				<h4 class="alert-heading">Roachy's Notice</h4>
				<p>Sorry your current search came up blank. We are working to get more and more content and listings. If you are hear for the first time or started a new browser recently we might not have been able derive your relative location do to various technical reasons. If you want to have distance functionality all you have to do is type in your address in the near field hit the search button and see listings in your area. Oh and I have an exclusive editorial for you too... if you wana read it that is. Have a wonderfull day!</p>
			</div>
		</div>
  </div>
	<% @critique = Critique.all.sample %>

<div class="critiques-container-show">
	<center><h3><%= @critique.title %></h3></center>
	<p>
		<%= image_tag @critique.photo(:large) %>
		<%= raw @critique.content %>
	</p>
</div>
<div class="critiques-container-show">
	<% unless @critique.dispensary.nil? %>
		<% d = @critique.dispensary %>
		<p><%= link_to "Visit #{d.name}'s listing page", d %></p>
	<% end %>
</div>
