<%= render "shared/news_sub_nav.html.erb" %>
	<h4 id="volume-header">Volume <%= @volume.id %></h4>
	<h4 id="volume-date"><%= @volume.created_at.to_date %></h4>
<div class="row main-new-image">
	<%= image_tag "dispatches_top.jpg"%>
</div>
<hr />    
    <div class="row">
        <div class="span3">
            <div class="cbnewstextleft">
              <% @col_array[0].each do |a| %>
                <%= render "articles/article_exerpt", article: a %>
              <% end %>  
            </div>
        </div>
        <div class="span6">
            <div class="cbnewstextmiddle" style="font-family: sans-serif">
                 <center><%= image_tag @volume.photo.url, width: "400", height: "300" %></center>
                <br>
                  <% @col_array[1].each do |a| %>
                    <%= render "articles/article_exerpt", article: a %>
                  <% end %> 
            </div>
        </div>
        <div class="span3">
            <div class="cbnewstextright">
              <% @col_array[2].each do |a| %>
                <%= render "articles/article_exerpt", article: a %>
              <% end %> 
            </div>
        </div>
    </div>
