    <div class="span4 tr-homeadd">
      <div id="mapfill">
<iframe width="305" height="496" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=phoenix+AZ&amp;aq=&amp;sll=33.448377,-112.074037&amp;sspn=1.171044,2.705383&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Phoenix,+Maricopa,+Arizona&amp;ll=33.448631,-112.07428&amp;spn=0.568339,0.41748&amp;z=10&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=phoenix+AZ&amp;aq=&amp;sll=33.448377,-112.074037&amp;sspn=1.171044,2.705383&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Phoenix,+Maricopa,+Arizona&amp;ll=33.448631,-112.07428&amp;spn=0.568339,0.41748&amp;z=10" style="color:#0000FF;text-align:left">View Larger Map</a></small>
      </div>
      <div class="homefeeds">
        <%= image_tag "cannacritiques.png" %>
      </div>
        <div class="homefeeds">
        <%= image_tag "dispatches-home.png" %>
      </div>
        <div class="homefeeds">
        <%= image_tag "cannacadets.png" %>
      </div>
    </div>
    
    <div class="span8">
      <div id="cannacarouseltop" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="active item"><%= image_tag "slider/creamothecrop_slider.png" %></div>
          <div class="item"><%= image_tag "slider/kindlandlords_slider.png" %></div>
        </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>
      <div class="row">
        <div class="span4 tr-homeadd">
            <div class="carousel slide cannacarouselhomeflip">
                   <!-- Carousel items -->
              <div class="carousel-inner">
                     <div class="active item">
                        <div class="menuboxfill findpicture">
                        <div class="hometext opacitychangemenu">
                        <div>
                           <h3>MENU SEARCH OPTIONS</h3>
                           <h5>NEAR DENVER,CO</h5>
                        </div>
                        <div id="livemenusearch">
                          <form class=" form-search">
                                <input type="text" class="input-medium search-query">
                                <button type="submit" class="btn btn-success">Search</button>
                          </form>
                        </div>
                        <div id="livemenucheckboxes">
                           <label class="checkbox inline" id="pushright">
                              <input type="checkbox"> Sativa
                            </label>
                            <label class="checkbox inline">
                              <input type="checkbox"> Indica
                            </label>
                            <label class="checkbox inline">
                              <input type="checkbox"> Hybrid
                            </label>
                            <label class="checkbox inline">
                              <input type="checkbox"> Hash/Wax
                            </label>
                            <label class="checkbox inline">
                              <input type="checkbox"> Seeds
                            </label>
                            <label class="checkbox inline">
                              <input type="checkbox"> Drinks
                            </label>
                            <label class="checkbox inline">
                              <input type="checkbox"> Clones
                            </label>
                            <label class="checkbox inline">
                              <input type="checkbox"> Glass
                            </label>
                            <label class="checkbox inline">
                              <input type="checkbox"> Edibles
                            </label>
                        </div>
                        <button id="alllivemenus" type="submit" class="btn">all live menus</button>
                     </div>
                     </div>
                     </div>
                     <div class="item">
                          <div class="menuboxfill2">
                        <div class="hometext">
                        <div>
                           <h3>MENU SEARCH OPTIONS</h3>
                           <h5>NEAR DENVER,CO</h5>
                        </div>
                        <div id="livemenusearch">
                          <form class=" form-search">
                                <input type="text" class="input-medium search-query">
                                <button type="submit" class="btn btn-success">Search</button>
                          </form>
                        </div>
                        <div id="livemenucheckboxes">
                           <label class="checkbox inline">
                              <input type="checkbox"> Check me out
                            </label>
                            <label class="checkbox inline">
                              <input type="checkbox"> Check me out
                            </label>
                            <label class="checkbox inline">
                              <input type="checkbox"> Check me out
                            </label>
                            <label class="checkbox inline">
                              <input type="checkbox"> Check me out
                            </label>
                            <label class="checkbox inline">
                              <input type="checkbox"> Check me out
                            </label>
                            <label class="checkbox inline">
                              <input type="checkbox"> Check me out
                            </label>
                            <label class="checkbox inline">
                              <input type="checkbox"> Check me out
                            </label>
                            <label class="checkbox inline">
                              <input type="checkbox"> Check me out
                            </label>
                            <label class="checkbox inline">
                              <input type="checkbox"> Check me out
                            </label>
                        </div>
                        <button id="alllivemenus" type="submit" class="btn">all live menus</button>
                     </div>
                     </div>
                     </div>                  
                     <!-- Carousel nav -->
              </div>
            </div>
        </div>
        <div class="span4 tr-homeadd">
            <div class="carousel slide cannacarouselhomeflip">
                   <!-- Carousel items -->
              <div class="carousel-inner">
                     <div class="active item">
                        <div class="saveboxfill save-image">
                        <div class="hometext opacitychange">
                           <h3>DEAL OF THE WEEK</h3><h5>NEAR DENVER,CO</h5>
                             <h5><strong>Buddies Wellness:</strong> One gram of earwax for $10 for first time customers!</h5>
                            <h3>MONDAY DAILY SPECIALS</h3>
                            <h5>NEAR DENVER,CO</h5>
                            <ul>
                            <h5>
                              <li>1</li>
                              <li>2</li>
                              <li>3</li>
                              </h5>
                            </ul>
                             <a class="btn specialsbtn2" href="#">more specials</a>
                     </div>
                     </div>
                     </div>
                     <div class="item">
                          <div class="saveboxfill2">
                        <div class="hometext">
                           <h3>DEAL OF THE WEEK</h3><h5>NEAR DENVER,CO</h5>
                             <h5><strong>Buddies Wellness:</strong> One gram of earwax for $10 for first time customers!</h5>
                            <h3>MONDAY DAILY SPECIALS</h3>
                            <h5>NEAR DENVER,CO</h5>
                            <ul>
                            <h5>
                              <li>1</li>
                              <li>2</li>
                              <li>3</li>
                              </h5>
                            </ul>
                             <a class="btn specialsbtn2" href="#">more specials</a>
                     </div>
                         </div>
                     </div>                  
                     <!-- Carousel nav -->

              </div>
            </div>
       </div>
  </div>
  <div class="row">
    <div class="span4 tr-homeadd">
      <div class="homepageboxfill_2">
        <%= image_tag "dummyad.png" %>
      </div>
    </div>
    <div class="span4 tr-homeadd">
                  <div class="carousel slide cannacarouselhomeflip">
                   <!-- Carousel items -->
              <div class="carousel-inner">
                     <div class="active item">
                        <div class="shopboxfill medicate-image">
                        <div class="hometext opacitychangeshop">
                        <div>
                           <h3>SMOKE SHOPS</h3>
                           <h6>NEAR DENVER,CO</h6>
                           <br>
                             <h5><strong>Buddies Wellness</strong></h5>
                             <h5><strong>Mad Hatters</strong></h5>
                             <h5><strong>University Gifts</strong></h5>
                             <a class="btn  btn-smokeshops" href="#">more smoke shops</a>
                        </div>
                     </div>
                     </div>
                     </div>
                     <div class="item">
                          <div class="shopboxfill2">
                       <div class="hometext">
                        <div>
                           <h3>SMOKE SHOPS</h3>
                           <h6>NEAR DENVER,CO</h6>
                           <br>
                             <h5><strong>Buddies Wellness</strong></h5>
                             <h5><strong>Mad Hatters</strong></h5>
                             <h5><strong>University Gifts</strong></h5>
                             <a class="btn  btn-smokeshops" href="#">more smoke shops</a>
                        </div>
                         </div>
                     </div>                  
                     <!-- Carousel nav -->
              </div>
            </div>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="span4 homeadsbottom">
      <%= image_tag "cp_homepage_ad.png" %>
    </div>
        <div class="span4 homeadsbottom">
      <%= image_tag "dummyadsmall.png" %>
    </div>
  </div>
