<div class="modal-body">
    <%= simple_form_for @user_profile do |f| %>
      <%= f.input :first_name, :label => 'First name' %>
      <%= f.input :last_name, :label => 'Last name' %>
      <%= f.input :birth_day, :as => :date, :start_year => Date.today.year - 90,
                                                            :end_year => Date.today.year - 12,
                                                            :order => [:month, :day, :year] %>
      <%= f.input :gender, :collection => [:male, :female] %>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
      <%= f.button :submit %>
    </div>
  <% end %>
