<div class="row manage-single-review">
  <div class="span6">
    <h3><%= critique.title %></h3>
    <p><%=raw critique.content %></p>
  </div>
  <div class="span2 backendbtns">  
    <a data-toggle="modal" href="#editmodal<%= critique.id %>" class="btn btn-glow btn-success">Edit</a>
    <div class="btn btn-glow btn-success"><%= link_to 'Delete', critique, :method => :delete, :confirm => 'Are you sure?' %></div>
  </div>
</div>

 <%= render "modals/edit_critique.html.erb", critique: critique %>
