<%= simple_form_for critique do |f| %>
    <%= f.input :title, :label => 'Title' %>
    <%= f.input :content, :label => 'Content' %>
    <%= f.input :critique_type, :collection => ["dispensary", "strain"] %>
    <%= f.input :photo_url, label: "Headline Photo URL" %>
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <%= f.button :submit %>
<% end %>
