<%= simple_form_for critique, :html => { :multipart => true } do |f| %>
    <%= f.input :title, :label => 'Title' %>
    <%= f.input :content, :label => 'Content' %>
    <%= f.input :critique_type, :collection => ["dispensary", "strain"] %>
		<%= f.file_field :photo %>
    <%= f.button :submit, class: "btn-success" %>
    <a href="#" class="btn" data-dismiss="modal">Close</a>
<% end %>
