<div class="row manage-single-review">
  <div class="span6">
    <h3>Strain wiki for <%= strain.name %></h3>
    <ul>
      <li>Flavors: <%= wiki.flavors %></li>
      <li>Effects: <%= wiki.effect %></li>
      <li>Health Benifits: <%= wiki.health_benefits %></li>
      <li>SativaIndics: <%= wiki.sativa_indica %></li>
      <li>Ideal Growing Conditions: <%= wiki.ideal_growing_conditions %></li>
      <li>Origin: <%= wiki.origin %></li>
    </ul>
  </div>
  <div class="span2 backendbtns">
    <a data-toggle="modal" href="#editmodal<%= wiki.id %>" class="btn btn-glow btn-success">Edit</a>
    <div class="btn btn-glow btn-success"><%= link_to 'Delete', wiki, :method => :delete %></div>
  </div>
</div>

<%= render "modals/edit_strain_wiki.html.erb", wiki: wiki %>
