<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<html>
<head>
<link href="/assets/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
        <title>CannaPages</title>
        <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
  <body>
    <div class="container">
      <div id="inner-container">
          <%= render "shared/header" %>
          <div id="content">
            <%= render "shared/flash", flash: flash %>
            <%= yield %>
          </div>
      </div>
    </div>
    
  <!-- modals -->
  <%= render "modals/login" %>
  <%= render "modals/strain_wiki_placeholder" %>
  <%= render "modals/cannasaver_placeholder" %>  
  </body>
</html>
