<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html>
<head>
	<title>CannaPages</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "cadets", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
  <div class="backendwrap">
    <%= render "shared/fixed_back_end_nav" %>
    <div class=" span10 backendcontent">
      <%= render "shared/flash", flash: flash %>
      <%= yield %>
    </div>
  </div>
  
  <%= render "modals/the_path_placeholder" %>
</body>
</html>
