<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
<link href="/assets/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
        <title>CannaPages</title>
				<%= favicon_link_tag %> 
       <%= stylesheet_link_tag    "application", :media => "all" %>
        <%= stylesheet_link_tag    "cadets", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
	<div id="body1">
	<div class="container-fluid">
			<%= render "shared/newheader" %>
		<div id="inner-container">
			<div id="content">
				<div class="row" id="home-content">
					<%= render "shared/flash", flash: flash %>
					<%= yield %>
				</div>
			</div>
		</div>
					<%= render "shared/footer" %>
	</div>
			
  <!-- modals -->
  <%= render "modals/login" %>
  <%= render "modals/create_user" %>
  <%= render "modals/cadets_helper" %>
  <%= render "modals/about" %>
  <%= render "modals/contact" %>
  <%= render "modals/resources" %>
  <%= render "modals/cannasaver_placeholder" %>  
	</div>
  </body>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35836576-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</html>
